@import "./base";

.bestSeller {
  background: $clr-card-badge-bg;
  color: $clr-card-badge;
  font-weight: 700;
  display: inline-block;
  padding: 0.2em 0.4em 0.25em;
  font-size: 0.8rem;
  border-radius: $br-btn;
}
