@import "../containers/base";
.facility {
  @include grid;
  height: 20em;
  margin: 6em 0;
  .facility__data {
    @include flex;
    gap: 6em;
    img {
      margin-top: -2em;
      object-fit: contain;
      height: 24em;
      z-index: 10;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    }
    .facility__info {
      width: 400px;
      order: 1;
    }
  }
}
