@import "../containers/base";

.header {
  @include flex;
  padding: 0.8em;
  background: white;
  .header__logo {
    object-fit: contain;
    height: 1.95em;
  }
  .header__search {
    flex: 1;
    @include flex;
    margin: 0 0.5em;
    p {
      font-size: 0.88rem;
      margin: 0 0.9em;
      letter-spacing: -0.5px;
      color: $clr-header-text;
    }
    .header__searchbar {
      flex: 1;
      display: flex;
      border: 1px solid #989586;
      border-radius: 9999px;
      overflow: hidden;
      padding: 0.2em 0.7em;
      background: #fbfbfb;
      input {
        flex: 1;
        padding: 0.8em 1em;
        border: none;
        background: transparent;
        outline: none;
      }
      button {
        order: -1;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
      }
    }
  }
  .header__right {
    @include flex;
    .header__cart {
      position: relative;
      margin: 0 0.7em;
      .header__cartLogo {
        object-fit: contain;
        height: 1.75em;
        fill: $clr-udemy;
      }
      .header__quantity {
        background: $clr-header-quantity;
        padding: 0 0.45em 0.1em;
        color: white;
        font-weight: 500;
        border-radius: 50%;
        display: none;

        position: absolute;
        top: -10px;
        right: -10px;
      }
    }
    .header__btn {
      padding: 0.8em 2em;
      border-radius: $br-btn;
      outline: none;
      border: none;
      margin: 0 0.5em;
      font-weight: 700;
      cursor: pointer;
      border: 1px solid;
    }
    .header__login {
      background: $clr-header-btn-white;
      border-color: $clr-header-btn;
      color: $clr-header-btn;
      &:hover {
        border-color: $clr-header-btn-hover;
        color: $clr-header-btn-hover;
      }
    }
    .header__signup {
      background: $clr-header-btn;
      color: $clr-header-btn-white;
      border-color: $clr-header-btn;
      &:hover {
        border-color: $clr-header-btn-hover;
        background: $clr-header-btn-hover;
      }
    }
  }
}
